fastapi
uvicorn
pydantic
pydantic-settings
email-validator
sqlalchemy
psycopg2-binary
python-multipart
python-jose[cryptography]
passlib[bcrypt]
langchain
langchain-openai
langchain-huggingface
langchain-community
langchain-pinecone
sentence-transformers
pinecone-client
qdrant-client
langchain-qdrant
pypdf
docx2txt
python-docx
pandas
python-dotenv
fpdf2
