fastapi
uvicorn
pydantic
pydantic-settings
sqlalchemy
python-multipart
python-jose[cryptography]
passlib[bcrypt]
langchain
langchain-groq
langchain-huggingface
sentence-transformers
langchain-chroma
chromadb
pypdf
pandas
python-dotenv
fpdf2
